extends layout

block content
  #nicker
    form(method='post', style='padding:12px')
      textarea#nicker_input_big(type='text', name='nicker_text', placeholder = nicker_text_placeholder)

      input(type='submit',name='nicker_submit', value= submit_nicker_text)

  for item in nickers_list
    #nicker
      a(style='font-size:27px') #{item.user}
      p #{item.content}
      button#like_button_id(class='like_button active', onclick='like_click()') Like

  script.
    function like_click(){
      var button = document.getElementById('like_button_id');
      button.className = button.className.replace(" active","");
      button.innerText = 'Unlike';
    }
