doctype html
html
  head
    title= title

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon' href='#')

  body

    #navbar
      a#navbar_title #{title}

      a#navbar_body Home
      a#navbar_body Else

      a#navbar_foot Me
    block content
