doctype html
html
  head
    title= title

    link(rel='stylesheet', href='/stylesheets/style.css')

  body

    #navbar
      a#navbar_title #{title}

      a#navbar_body(href='/home') #{home_name}

      a#navbar_foot #{users_Name}
    block content
