extends index.pug

block content
  #nicker
    p #{register_heading}
    button#nvbar_button(onclick='location.href = \'/register\'') #{register_button_text}

  #nicker
    p #{login_heading}
    #login_error #{login_error_msg}
    form(method='post')
      input(type='username', name='username', placeholder = username_placeholder)
      input(type='password', name='password', placeholder = password_placeholder)
      input(type='submit',name='login_submit', value= submit_text)
